.mobilMenuRightMenu {
    display: none;
    top: 15px !important;
    position: absolute !important;
    right: 5px;
}
.MobileBasketItemCount {
    width: 18px;
    height: 18px;
    background: #562868;
    color: white;
    border-radius: 50%;
    font-size: 11px;
    padding-top: 2px;
    position: absolute;
    margin-top: -43px;
    right: -3px;
}
.call-phone-number  {
    display:none
}
.mobilMenuRightMenu .mobilmenuimg1 {
    width: 36px;
    cursor: pointer
}
.mobilMenuRightMenu .mobilmenuimg2 {
        width: 34px;
        cursor: pointer
    }
#main-navigation:not(.nav-bottom) .main-nav-wrapper .container-fluid {
    text-align: center;
}
.topnav-top #main-navigation .main-nav-wrapper {
    height: 60px;
}
.nav-left {
    float: none;
    height: 60px;
    position: absolute;
    left: 5px;
    padding: 0;
}
#logo {
    padding: 0 !important;
}
.products-holder {
    width: 100%;
    position: absolute;
    height: auto;
    background: #fff;
    left: 0;
    right: 0;
    top: 59px;
    margin: auto;
    transition: all 0.5s ease;
}
.mobile-tab-btn {
    width: 50%;
    font-size: 12px;
    letter-spacing: 0.3px;
    font-weight: bold;
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    /*border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;*/
}
.mobile-tab-btn:first-child {
        /*border-right: 1px solid #cacaca;*/
        border-bottom-right-radius: 10px
    }
.mobile-tab-btn:last-child {
        /*border-right: 1px solid #cacaca;*/
        border-bottom-left-radius: 10px
    }
.tab-holder {
    width: 200%;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
#main-aside-menu {
    float: left;
    width: 50%;
}
#main-aside-menuForOther {
    float: left;
    width: 50%;
}
.login-panel {
    display: block;
    position: relative;
    /*margin: 100px auto;*/
    color: white;
    border-radius: 50%;
}
.login-panel .toggle {
        display: block;
        width: 100%;
        cursor: pointer;
        padding-left:10px;
        padding-right:10px
            
    }
#main-aside-navigation {
    overflow-x: hidden;
}
#main-menu, .main-menu {
        margin-right: 0px
    }
.login-panel .toggle {
        display: none;
    }
.login-panel {
        width: 0px
    }
#main-navigation .nav-left {
        float: none !important;
    }
.login-panel .toggle {
        display: none
    }
#logo {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        /* padding-left: 70px !important; */
        padding-top: 5px;
        height: 100%;
        position: relative;
        top: -5px
    }
.custom-search {
        display: block;
        position: absolute !important;
        top: 15px !important;
        font-size: 24px;
        left: 52px;
    }
.menu-mobile.topnav-top .mobile-menu-btn .toggle-menu {
        /*top: 5px;*/
        color: #fff;
    }
.nav-tools {
        height: 100%;
        vertical-align: middle;
        display: table-cell;
        padding-left: 0;
        position: absolute;
        top: 4px !important;
        left: 5px;
    }
.nav-left {
        position: static;
    }
#main-menu {
        display: none;
    }
.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.topBanner:first-child {
    padding-right: 3px;
}
.topBanner:last-child {
    padding-left: 3px
}
.divHeader {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    /*width: 290px;*/
    color: #4D4D4D;
    letter-spacing: 0px !important
}
.catalogueDiv1 {
    font-weight: 600;
    font-size: 18px;
}
.catalogueDiv2 {
    font-weight: 500;
    margin-bottom: 3px;
    font-size: 13px;
}
.asideFooterMenu {
    padding: 26px 10px;
    height: 80px;
    /*background: red;*/
    width: 85%;
    color: white;
    text-align: center;
    font-size: 18px;
    background-image: linear-gradient(to right,#EC8C91, #552668);
    position: fixed;
    bottom: 0px;
}
.asideFooterMenuCatalogue {
    /*width: 100%;
    position: absolute;
    bottom: 195px;
    text-align: center;*/
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.asideFooterMenuCatalogue img {
        width: 170px
    }
.asideFooterMenuSocialAccount {
    width: 100%;
    text-align: center;
    color: #878787;
    font-size: 30px;
}
.mobilMenuRightMenu {
        display: block
    }
.mobilMenuRightMenu {
        top:17px !important
    }
.mobilMenuRightMenu .mobilmenuimg1 {
        width: 27px;
    }
.mobilMenuRightMenu .mobilmenuimg2 {
        width: 27px;
    }
#logo a img {
        width: 125px;
        height: auto;
        top: 7px;
        position: relative;
    }
.mobilMenuRightMenu .mobilmenuimg1 {
        width: 30px
    }
.mobilMenuRightMenu .mobilmenuimg2 {
        width: 28px
    }
.mobilMenuRightMenu {
        /*top: -37px !important;*/
    }
#logo a img {
        width: 118px;
        height: auto;
        margin-top: 0px;
        position: relative;
        left:5px
    }
#main-aside-navigation #main-aside-menu > ul > li > a {
        font-size: 13px;
    }
.asideFooterMenu{
        height:70px;
        font-size:15px
    }
.asideFooterMenuSocialAccount{
        bottom:135px;
        font-size:28px
    }
.asideFooterMenuCatalogue{
        bottom:180px
    }
.asideFooterMenuCatalogue img{
        width: 150px
    }
.catalogueDiv1 {
        font-size: 15px;
    }
.catalogueDiv2 {
        font-size: 12px;
    }
