.loader-wrapper {
    background: #000;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    -webkit-opacity: 1;
    -webkit-transition: all 600ms ease-in-out;
    bottom: 0;
    filter: alpha(opacity=100);
    left: 0;
    opacity: 1;
    overflow: hidden;
    transition: 0.5s;
}
.loader-wrapperForAjax {
    display:none;
    background: rgba(0, 0, 0, 0.26);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    -webkit-opacity: 1;
    -webkit-transition: all 600ms ease-in-out;
    bottom: 0;
    filter: alpha(opacity=100);
    left: 0;
    opacity: 1;
    overflow: hidden
}
.loader-circle, .loader-circle::before {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: none;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center
}
.loader-circle {
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-animation: preloader-outer 1.5s ease infinite;
    -moz-animation: preloader-outer 1.5s ease infinite;
    -o-animation: preloader-outer 1.5s ease infinite;
    animation: preloader-outer 1.5s ease infinite
}
.loader-circle::before {
        content: "";
        display: block;
        -webkit-animation: preloader 3s ease infinite;
        -moz-animation: preloader 3s ease infinite;
        -o-animation: preloader 3s ease infinite;
        animation: preloader 3s ease infinite;
        border: 2px solid #ccc;
        border-bottom: 2px solid #000
    }
