.btn {
    font-size: 12px;
    font-family: 'Open Sans', arial;
    letter-spacing: 0.5px;
    font-weight: 600;
    padding: 5px 12px;
    height: auto;
    line-height: 34px;
    border: none;
    z-index: 2;
    position: relative;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.btn, .btn.focus, .btn:focus, .btn:hover {
        color: #fff;
    }
.btn-lg {
    height: auto;
    line-height: 1.3rem;
    padding: 14px 26px;
}
.btn-lg.btn-bordered:not(.icon-left-effect):not(.icon-right-effect) {
        padding: 12px 26px;
    }
.btn-white {
    border: 2px solid #fff;
    color: #fff !important;
}
.btn-block {
    display: block;
    width: 100%;
    font-size: 14px !important;
    letter-spacing: 1px !important;
}
.btn-white.btn-bordered {
    color: #fff !important;
    border: 2px solid rgba(255,255,255,0.8);
    background: none;
}
.btn-bordered.btn-lg:not(.icon-left-effect):not(.icon-right-effect) {
    padding: 12px 12px;
}
.mobilMenuActive {
    background-image: linear-gradient(to right,#EC8C91, #552668);
    color: #fff !important;
}
